
.banner {
    
    width: 100%;
    height: 100vh;  
    text-align: center;
    overflow: hidden;
    position: relative;

}



.banner .slider {
    position: absolute;
    width: 350px;
    height: 250px;
    top: 10%;
    left: calc(40% - 80px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
    z-index: 2;
}



@keyframes autoRun {
    from{
        transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
    }to{
        transform: perspective(1000px) rotateX(-15deg) rotateY(360deg);
    }
}

.banner .slider .item {

    position: absolute;
    inset: 0 0 0 0;
    transform: 
    rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
    translateZ(350px);
}
.banner .slider .item img {
    display: grid;
    width: 100%;;
    height: 100%;
    object-fit: cover;
}


.banner .content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform:translateX(-50%);
    width: min(1400px, 100vw);
    height: max-content;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

}  

.banner .content .model {
    background-image:url(Hand.png);
    width: 100%;
    height: 90vh;
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: auto 130%;
    background-repeat: no-repeat;
    background-position: top center;
}

@media (max-width: 800px){
    .banner .slider {

    }
    .banner .slider{
        position: absolute;
        width: 100px;
        height: 100px;
        top: 10%;
        left: calc(40% - 20px);
        transform-style: preserve-3d;
        transform: perspective(1000px);
        animation: autoRun 20s linear infinite;
        z-index: 2;
        
        
    }
    .banner .slider .item {

    
    }
    .banner .slider .item {

        position: absolute;
        inset: 0 0 0 0;
        transform: 
        rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(120px);
    }
    
}


/* From here it is da box */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #989fb1;
}

ul 
{
    
    position: relative;
    transform: skewY(-20deg);
    
    z-index: 99;
}

ul li
{
    padding-right: 30%;
    position: relative;
    list-style: none;
    width: 130px;
    background: #0d0e0f; /* front*/
    padding: 15px;
    z-index: var(--i);
    transition: 0.5s;
}

ul li:hover
{
    background: #33a3ee;
    transform: translateX(50px);
}
ul li::before
{
    content: '';
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 100%;
    background: #1d1f20;
    transform-origin: right;
    transform: skewY(45deg);
    transition: 0.5s;
}

ul li:hover::before
{
    background: #1f5378;
}

ul li::after
{
    content: '';
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    height: 30px;
    background: #1d1f20;
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 0.5s;
}

ul li:hover::after
{
    background: #2982b9;
}

ul li a
{
    text-decoration: none;
    color: #999;
    display: block;
    text-transform: uppercase;
    
    letter-spacing: 0.05;
    transition: 0.5s;
}

ul li:hover a
{
    color: #fff;
}

.Valikko {
    
    position: absolute;
    bottom: 50px;
    left: 50px;
    margin: 0;
    padding: 0;
    list-style: none;
    
}


@media (max-width: 800px){
    ul li {

    }
    ul li
{
    padding-right: 30%;
    position: relative;
    list-style: none;
    width: 90px;
    background: #0d0e0f; /* front*/
    padding: 3px;
    z-index: var(--i);
    transition: 0.5s;
}
.Valikko {

}
.Valikko {
    
    position: absolute;
    bottom: 30px;
    left: 50px;
    margin: 0;
    padding: 0;
    list-style: none;
    
}
    

 }
